@import url("/assets/css/root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.custom-container {
    max-width: 1170px !important;
}

/* .custom-container-2{
    max-width: 1305px !important;
    margin-right: 0;
} */

/* .slider2 .slick-list {
    overflow: visible !important; 
    padding: 0 20% 0 0;
    position: relative;
} */

.paragraph-1 {
    max-width: 370px;
}

.paragraph-2 {
    max-width: 400px;
}

.paragraph-3 {
    max-width: 467px;
}
.paragraph-4{
    max-width: 473px;
}


/* other */
.border-radius-85 {
    border-radius: 85px;
}

.border-radius-16 {
    border-radius: 16px;
}

.content {
    padding: 12px;
}
.content-2{
    padding: 30px;
}

.slick-slide {
    margin-right: 30px;
}


.prev {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}

.next {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}

.prev2 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}

.next2 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}
.prev3 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}

.next3 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #2D3134;
}

.position-1 {
    top: 2%;
    right: 19%;
}

.position-2 {
    top: 2%;
    right: 15%;
}

.position-3 {
    top: 6%;
    right: 19%;
}

.position-4 {
    top: 6%;
    right: 15%;
}
.position-5 {
    bottom: 22%;
    right: 21%;
}

.position-6 {
    bottom: 22%;
    right: 17%;
}


/* buttons */

.button2 {
    border: 1px solid #2D3134;
    border-radius: 30px;
    background-color: transparent;
}

/* padding,margin & gap */
.padding-2 {
    padding: 12px 16px;
}

.pt-60 {
    padding-top: 60px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.pt-14 {
    padding-top: 14px;
}

/* cards */

.box {
    max-width: 386px;
    height: 100%;
    border-radius: 16px;
    border: 2px solid #FFFFFF;
}

.box2 {
    max-width: 537px;
    height: 283px;
    border-radius: 14px;
    background: #FFF;
}