@import url("/assets/css/root.css");
@import url("/assets/css/style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    transition: all 200ms linear;
}
/* btn */
.button1{
    border-radius: 27px;
border: 1.4px solid #F66F4D;
background-color: transparent;
}

/* padding */
.padding-1{
padding: 12px 20px;
}
.paragraph-2{
    max-width: 141px;
}
.pl-24{
    padding-left: 24px;
}
.pl-28{
    padding-left: 28px;
}
.gap-36{
    gap: 36px;
}
.py-33{
    padding-top: 33px;
    padding-bottom: 33px;
}
.pt-74{
    padding-top: 74px;
}
.pb-74{
    padding-bottom: 74px;
}
.p-20-28{
    padding: 20px 28px !important;
}
.pb-84{
    padding-bottom: 84px;
}
.ml-10{
    margin-left: 10px;
}
/* card */
.j-card{
    max-width: 500px !important;
background: #FDFEFF;
box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
padding: 10px 11px;
}
.m-card{
    border-radius: 14px;
background: rgba(255, 255, 255, 0.70);
max-width: 166px;
padding: 30px 54px 26px 26px;
}
.m-card-2{
    border-radius: 14px;
background: rgba(255, 255, 255, 0.70);
max-width: 166px;
padding: 30px 23px 26px 28px;
}
.sec-card{
    border-radius: 30px;
background: #FFD482;
max-width: 1170px;
}
.f-footer-boder{
    background-color: transparent;
    border: 1px solid #5B5F62;
    border-radius: 50%;
    padding: 13px;
    align-items: center;
}
.f-footer-boder:hover{
  border: 1px solid #F66F4D;
}
.f-footer-boder:hover> svg path{
    fill: #F66F4D;
}
.f-footer-boder> svg path{
fill:#5B5F62;
}

input{
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 26px;
    min-width: 40%;
    border-radius: 12px;
background: #FFF;
border: none;
}
.sec-svg{
    position: absolute;
    right:34%;
    bottom: 24%;
}

.border-right{
    border-right: 1px solid #EAEAEB !important;
}
.bg-line{
    background-image: url(../images/line.png);
}
/* max-weidth */
.paragraph-1{
    max-width: 393px;
    margin-left: auto;
    margin-right: auto;                   
}
/* navbar */
.mobileView {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FAF8ED;
    right: -100%;
    transition: all 500ms linear;
    z-index: 2;
    gap: 15px;
}

.menu span {
    height: 4px;
    width: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    margin-left: 20px;
    transition: .4s;
    border-radius: 15px;
}

.mobileView.show {
    right: 0;
}

.menu {
    z-index: 3;
}

.rotate1 {
    transform: rotate(45deg);
}

.rotate2 {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}

.rotate3 {
    display: none !important;
}
.overflow-hidden{
    overflow: hidden;
}
@media(min-width:470px) {
    .mobileView {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 45%;
        height: 100%;
        background-color: #FAF8ED;
        right: -45%;
        transition: all 500ms linear;
        z-index: 2;
    }
}
@media(min-width:768px) {
    .pl-72{
        padding-left: 72px;
    }
    
    .mobileView {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: unset;
        width: unset;
        height: unset;
        background-color: unset;
    }

    .menu {
        display: none;
    }

} 

